<!-- Footer -->
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Hourify </h3>
                    <ul>
                        <li><%= link_to "Our Store", "footer_path" %></li>
                        <li><%= link_to "Privacy Policy", "footer_path" %></li>
                        <li><%= link_to "Cookies", "footer_path" %></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Customers </h3>
                    <ul>
                      <li><%= link_to "Help", "footer_path" %></li>
                      <li><%= link_to "FAQ", "footer_path" %></li>
                      <li><%= link_to "Chat", "footer_path" %></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Orders </h3>
                    <ul>
                      <li><%= link_to "Cart", "footer_path" %></li>
                      <li><%= link_to "Shipping", "footer_path" %></li>
                      <li><%= link_to "Status", "footer_path" %></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact us </h3>
                    <ul>
                      <li><%= link_to "About us", "footer_path" %></li>
                      <li><%= link_to "Our Blog", "footer_path" %></li>
                      <li><%= link_to "Careers", "footer_path" %></li>
                    </ul>
                </div>
<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
    <h3> Newsletter </h3>
      <ul>
          <li>
            <div class="input-append newsletter-box text-center">
                  <input type="text" class="full text-center" placeholder="Email ">
                  <button class="btn  bg-gray" type="button"><%= link_to "Sign Up", "contact_path" %><i class="fa fa-long-arrow-right"></i>
                  </button>
            </div>
          </li>
      </ul>

<a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
</a>
<a class="btn btn-block btn-social btn-dropbox">
    <span class="fa fa-dropbox"></span> Sign in with Dropbox
</a>
<a class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
 </a>
<a class="btn btn-block btn-social btn-github">
    <span class="fa fa-github"></span> Sign in with Github
</a>

<a class="btn btn-social-icon btn-twitter">
   <span class="fa fa-twitter"></span>
   <a class="btn btn-social-icon btn-github">
<span class="fa fa-github"></span>
<a class="btn btn-social-icon btn-google">
<span class="fa fa-google"></span>
 </a>

 <!-- btn-adn #D87A68
btn-bitbucket #205081
btn-dropbox #1087DD
btn-facebook #3B5998
btn-flickr #2BA9E1
btn-foursquare #f94877
btn-github #444444
btn-google #DD4B39
btn-instagram #3F729B
btn-linkedin #007BB6
btn-microsoft #2672EC
btn-odnoklassniki #F4731C
btn-openid #F7931E
btn-pinterest #CB2027
btn-reddit #EFF7FF
btn-soundcloud #FF5500
btn-tumblr #CB2027
btn-twitter #55ACEE
btn-vimeo #1AB7EA
btn-vk #587EA3
btn-yahoo -->

                    <!-- <ul class="social">
                        <li> <a href="http://www.facebook.com"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="http://www.twitter.com"> <i class="fa fa-twitter">   </i> </a> </li>
                        <!- <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li> -->
                        <!-- <li> <a href="http://www.pinterest.com"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="http://www.youtube.com"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul> -->
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Hourify 2016. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
