<p id="notice"><%= notice %></p>
<div class="container-fluid index">
  <div class="row">

      <h1 style="color: white;">Listing Items</h1>
        <% @items.each do |item| %>
          <div class="table-responsive list-container">
            <div class="row">
              <div class="col-sm-6">
              <div class="section-content">
              <div class="row">
                <div class="item-img col-xs-12">
                  <%= image_tag(item.image, class: "index-img") %>
                </div>
                <div class="item-tags col-xs-12">
                  <ul class="tags">
                    <li>Name                |           <%= item.name %></li>
                    <li>Price               |           <%= item.price %></li>
                    <li>Quantity            |           <%= item.quantity %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

            </div>
          </div>
          <p><%= link_to 'Add to cart', shopping_cart_items_path(item_id: item.id, quantity: 1), method: :post %></p>
          <p><%= link_to 'Remove from cart', shopping_cart_item_path(item.id), method: :delete %></p>
          <p><%= link_to 'Empty cart', empty_cart_path(item.id), method: :delete %></p>
        <% end %>
          <!-- <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
                <td><%= image_tag(item.image) %></td>
                <td><%= link_to 'Show', item %></td>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
          </table> -->
      </div>
          <br />
        <%= link_to 'New Item', new_item_path %>

</div>
