
<center>
   <%= image_tag(@item.image, class:"imgitem")%>

<br>
  <div class='title_item'><%= @item.name %></div>
<br>
<br>
<div class='showblock'>
  <div id='descript'><%= @item.description %></div>
<br>
<strong>PRICE:</strong>
  <i><%= @item.price %></i>
</div>
</center>

<div class="cart-pos-show">
<%= render 'shared/cart' %>

</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
