<center>
   <%= image_tag(@item.image, class:"imgitem")%>

<br>
  <div class='title_item'><%= @item.name %></div>
<br>
<br>
<div class='showblock'>
  <div id='descript'><%= @item.description %></div>
<br>
<strong>PRICE:</strong>
  <i><%= @item.price %></i>
</div>
</center>

<% if @item.id != Item.first[:id] %>
  <%= link_to "Prev", item_path(@item.id - 1) %>
<% end %>

<% if @item.id != Item.last[:id] %>
  <%= link_to "Next", item_path(@item.id + 1) %>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
